@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: blanka;
  src: url("/assets/fonts/Blanka-Regular.otf");
}

@-webkit-keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}
@keyframes scale-out-hor-left {
  0% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* ANIMATION CLASSES */
.scale-out-hor-left {
  -webkit-animation: scale-out-hor-left 0.5s
    cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: scale-out-hor-left 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
  animation: slide-out-right 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.6s cubic-bezier(0.23, 1, 0.32, 1) both;
}

/* TYPOGRAPHY */
.h1-bold {
  @apply text-[36px] font-bold leading-[140%] tracking-tighter;
}

.h1-semibold {
  @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
}

.h2-bold {
  @apply text-[30px] font-bold leading-[140%] tracking-tighter;
}

.h3-bold {
  @apply text-[24px] font-bold leading-[140%] tracking-tighter;
}

.base-semibold {
  @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
}

.base-medium {
  @apply text-[16px] font-medium leading-[140%];
}

.base-regular {
  @apply text-[16px] font-normal leading-[140%];
}

.body-bold {
  @apply text-[18px] font-bold leading-[140%];
}

.body-medium {
  @apply text-[18px] font-medium leading-[140%];
}

.small-semibold {
  @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
}

.small-medium {
  @apply text-[14px] font-medium leading-[140%];
}

.small-regular {
  @apply text-[14px] font-normal leading-[140%];
}

.subtle-semibold {
  @apply text-[12px] font-semibold leading-[140%];
}

.tiny-medium {
  @apply text-[10px] font-medium leading-[140%];
}

/* UTILITIES */
.invert-white {
  @apply invert brightness-0 transition;
}

.flex-center {
  @apply flex justify-center items-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

.flex-start {
  @apply flex justify-start items-center;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #c8cbc8;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #0a0a1a;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #8de3ff;
}

.nanogram {
  font-family: blanka;
}

.min-h-screen {
  min-height: calc(100vh - 96px);
}

html {
  scroll-behavior: smooth;
}

/* Explore */
.explore-container {
  @apply h-screen flex flex-col flex-1 items-center md:pt-32 py-24 px-5 md:p-14 overflow-y-scroll custom-scrollbar;
}

.explore-inner_container {
  @apply max-w-5xl flex flex-col items-center w-full gap-6 md:gap-9;
}

.explore-search {
  @apply h-12 bg-accent-gray border-none placeholder:text-neutral-black focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
}

/* All Users */
.user-container {
  @apply h-screen flex flex-col flex-1 items-center md:pt-32 py-24 px-5 md:p-14 overflow-y-scroll custom-scrollbar;
}

.user-inner_container {
  @apply max-w-5xl mb-10 flex flex-col items-center w-full gap-6 md:gap-9;
}

.user-grid {
  @apply w-full mx-auto grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-7 max-w-5xl mt-10;
}

/* Saved */
.saved-container {
  @apply h-screen flex flex-col flex-1 items-center md:pt-32 py-24 px-5 md:p-14 overflow-y-scroll custom-scrollbar;
}

.saved-inner_container {
  @apply max-w-5xl mb-10 flex flex-col items-center w-full gap-6 md:gap-9;
}

/* Grid Post List */
.grid-container {
  @apply w-full mx-auto overflow-hidden grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
}

.grid-post_link {
  @apply flex rounded-[24px] border border-neutral-black overflow-hidden cursor-pointer w-full h-full;
}

.grid-post_user {
  @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-secondary to-transparent rounded-b-[24px] gap-2;
}

/* Home */
.home-container {
  @apply h-screen flex flex-col flex-1 items-center gap-10 px-5 md:px-8 lg:p-14 overflow-y-scroll custom-scrollbar;
}

.home-posts {
  @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
}

.home-creators {
  @apply hidden xl:flex flex-col w-72 px-6 py-10 gap-10  overflow-scroll custom-scrollbar;
}

/* Post Card */
.post-card {
  @apply bg-accent-gray rounded-3xl border border-neutral-black p-5 lg:p-7 w-full max-w-screen-sm;
}

.post-card_img {
  @apply h-fit w-full rounded-[24px] object-cover mb-5;
}

/* User card */
.user-card {
  @apply flex-center flex-col gap-4 border border-neutral-black rounded-[20px] px-5 py-8;
}

/* Sidebar */
.sidebar {
  @apply hidden md:flex px-2 py-4 pt-[4.75rem] flex-col justify-between min-w-80 md:h-screen bg-primary;
}

.sidebar-link {
  @apply text-[16px] font-medium leading-[140%] hover:bg-secondary transition;
}

/* Bottom bar */
.bottom-bar {
  @apply z-[49] flex w-full fixed bottom-0 rounded-t-[20px] bg-secondary px-10 py-4 md:hidden justify-between items-center;
}

/* File uploader */
.file_uploader-img {
  @apply h-fit w-full rounded-[8px] object-cover object-top;
}

.file_uploader-label {
  @apply text-neutral-black text-center small-regular w-full p-4 border-t border-t-neutral-black;
}

.file_uploader-box {
  @apply flex-center flex-col p-7 h-44;
}

.common-container {
  @apply flex flex-col items-center md:pt-32 pt-24 pb-8 px-5 md:px-8 lg:p-4 custom-scrollbar;
}

/* Post Details */
.post_details-container {
  @apply h-screen flex flex-col flex-1 gap-10 overflow-scroll px-5 md:p-14 md:pt-32 py-28 custom-scrollbar items-center;
}

.post_details-card {
  @apply bg-accent-gray w-full max-w-5xl rounded-[30px] flex flex-col lg:flex-row border border-neutral-black lg:rounded-l-[24px];
}

.post_details-img {
  @apply h-fit lg:w-[48%] rounded-t-[30px] lg:rounded-l-[24px] lg:rounded-tr-none object-cover bg-accent-gray;
}

.post_details-info {
  @apply bg-accent-gray flex flex-col gap-2 flex-1 items-start p-8 rounded-[30px];
}

.post_details-delete_btn {
  @apply p-0 flex gap-3 hover:bg-transparent hover:text-pink-500  text-orange-500 small-medium;
}

/* Waterfall */
.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* Adjust for gap */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* Adjust for gap */
  background-clip: padding-box;
}

.my-masonry-grid_column > .waterfall-item {
  margin-bottom: 16px;
}

.waterfall-item img {
  width: 100%;
  display: block;
  border-radius: 8px; /* Optional */
  object-fit: cover;
}


/* Profile */
.update_profile-container {
  @apply h-screen w-full md:pt-[4.75rem] pt-[4.5rem];
}

/* Default */
.default-container {
  @apply h-screen w-full md:pt-[4.75rem] pt-[4.5rem] overflow-y-scroll custom-scrollbar;
}
